<div
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin">
  {{ control().label }}
  <div class="displayed-container">
    @if (displayOptions().length === 0) {
      <span>Nothing is selected...</span>
    } @else {
      <div class="displayed-options">
        @for (option of displayOptions(); track trackByFn($index, option)) {
          <div class="displayed-option">
            <span>{{ displayWithFn(option) }}</span>
            <button
              type="button"
              (click)="deselectOption($event, option)">
              x
            </button>
          </div>
        }
      </div>
    }
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen()"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="close()"
  (detach)="close()">
  <div class="dropdown">
    @for (option of items(); track trackByFn($index, option)) {
      <div>
        <label>
          <input
            type="checkbox"
            [checked]="selectedOptionsModel.isSelected(option)"
            (change)="toggleSelection(option)"
            [attr.aria-checked]="selectedOptionsModel.isSelected(option) ? 'true' : 'false'"
            [attr.aria-selected]="selectedOptionsModel.isSelected(option) ? 'true' : 'false'"
            role="option" />
          {{ displayWithFn(option) }}
        </label>
      </div>
    }
  </div>
</ng-template>

<div class="validation-feedback">
  <ng-container
    ngDefaultControl
    validatorMessage
    [helpMessage]="control().helpText"
    [formControl]="formControl">
  </ng-container>
</div>
