<label
  [class]="settings.labelClasses"
  [attr.for]="control().name">
  {{ control().label }}
</label>

<div [class]="settings.checkboxGroupContainerClasses">
  @for (option of options(); track option.value) {
    <label [class]="settings.checkboxGroupItemWrapperClasses">
      <input
        [id]="control().name + '-' + option.value"
        [name]="control().name + '-' + option.value"
        [class]="settings.checkboxGroupItemInputClasses"
        type="checkbox"
        [checked]="isSelected(option.value)"
        [disabled]="option.disabled"
        (change)="onCheckboxChange($event, option.value)" />
      <span [class]="settings.checkboxGroupItemLabelClasses">{{ option.label }}</span>
    </label>
  }
</div>

<div [class]="settings.validationFeedbackClasses">
  <ng-container
    ngDefaultControl
    validatorMessage
    [helpMessage]="control().helpText"
    [formControlName]="control().name" />
</div>
