<label
  [class]="settings.labelClasses"
  [attr.for]="control().name">
  {{ control().label }}
</label>

<div class="relative">
  <input
    #origin
    [id]="control().name"
    [name]="control().name"
    [class]="settings.autocompleteInputClasses"
    [placeholder]="control().placeholder ?? ''"
    [formControl]="queryControl"
    (focus)="open()"
    autocomplete="off"
    [attr.aria-expanded]="isOpen() ? 'true' : 'false'"
    aria-controls="autocomplete-list" />

  @if (loading()) {
    <div [class]="settings.autocompleteLoadingWrapperClasses">
      @if (settings.autocompleteLoadingIcon) {
        <div [class]="settings.autocompleteLoadingIconClasses">
          <ng-container [ngComponentOutlet]="settings.autocompleteLoadingIcon" />
        </div>
      } @else {
        <span [class]="settings.autocompleteLoadingTextClasses">{{ settings.autocompleteLoadingText }}</span>
      }
    </div>
  }
</div>

<!-- CDK Connected Overlay for suggestions dropdown -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen()"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="close()"
  (detach)="close()">
  <div
    [class]="settings.autocompleteDropdownClasses"
    role="listbox"
    aria-live="assertive"
    id="autocomplete-list">
    @for (option of suggestions$ | async; track trackByFn($index, option)) {
      <div
        [class]="[settings.autocompleteDropdownItemClasses, isSelected(option) ? settings.autocompleteDropdownItemSelectedClasses : '']"
        tabindex="0"
        (click)="selectOption(option)"
        (keyup)="selectOption(option)"
        role="option"
        [attr.aria-selected]="isSelected(option)">
        {{ displayWithFn(option) }}
      </div>
    }
  </div>
</ng-template>

<div class="validation-feedback">
  <ng-container
    ngDefaultControl
    validatorMessage
    [helpMessage]="control().helpText"
    [formControlName]="control().name" />
</div>
