<label [attr.for]="control().name">
  {{ control().label }}
</label>

<input
  #origin
  [id]="control().name"
  [placeholder]="control().placeholder ?? ''"
  [formControl]="queryControl"
  (focus)="open()"
  autocomplete="off"
  [attr.aria-expanded]="isOpen() ? 'true' : 'false'"
  aria-controls="autocomplete-list" />

@if (loading()) {
  <div style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); font-size: 12px">loading</div>
}

<!-- CDK Connected Overlay for suggestions dropdown -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen()"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="close()"
  (detach)="close()">
  <div
    class="autocomplete-dropdown"
    role="listbox"
    aria-live="assertive"
    id="autocomplete-list">
    @for (option of suggestions$ | async; track option) {
      <div
        class="autocomplete-option"
        tabindex="0"
        (click)="selectOption(option)"
        (keyup)="selectOption(option)"
        role="option"
        [attr.aria-selected]="isSelected(option)">
        {{ displayWithFn(option) }}
      </div>
    }
  </div>
</ng-template>

<div class="validation-feedback">
  <ng-container
    ngDefaultControl
    validatorMessage
    [helpMessage]="control().helpText"
    [formControlName]="control().name">
  </ng-container>
</div>
