<fieldset [formArrayName]="control().name">
  <legend>{{ control().label }}</legend>

  @for (group of formControl.controls; track i; let i = $index) {
    <div [formGroupName]="i">
      @for (ctrl of control().controls; track ctrl.name) {
        <ng-container
          *activateControl="ctrl"
          [ngComponentOutlet]="controlResolver.resolve(ctrl) | async"
          [ngComponentOutletInjector]="ctrl | controlInjector: getControlValue(i)" />
      }

      <button
        class="remove-button"
        role="button"
        tabindex="0"
        type="button"
        (click)="removeItem(i)"
        (keydown.enter)="removeItem(i)">
        <ng-container *ngComponentOutlet="buttons.remove" />
      </button>
    </div>
  }

  <button
    class="add-button"
    role="button"
    tabindex="0"
    type="button"
    (click)="addItem()"
    (keydown.enter)="addItem()">
    <ng-container *ngComponentOutlet="buttons.add" />
  </button>
</fieldset>

<div class="validation-feedback">
  <ng-container [helpMessage]="control().helpText" />
</div>
