<fieldset [formArrayName]="control().name">
  <legend>{{ control().label }}</legend>

  @for (group of formControl.controls; track group; let i = $index) {
    <div [formGroupName]="i">
      @for (ctrl of control().controls; track ctrl.name) {
        <ng-container
          *activateControl="ctrl"
          [ngComponentOutlet]="controlResolver.resolve(ctrl) | async"
          [ngComponentOutletInjector]="ctrl | controlInjector: getControlValue(i)">
        </ng-container>
      }

      <div
        role="button"
        tabindex="0"
        (click)="removeItem(i)"
        (keydown.enter)="removeItem(i)">
        <ng-container *ngComponentOutlet="buttons.remove"></ng-container>
      </div>
    </div>
  }

  <div
    role="button"
    tabindex="0"
    (click)="addItem()"
    (keydown.enter)="addItem()">
    <ng-container *ngComponentOutlet="buttons.add"></ng-container>
  </div>
</fieldset>

<div class="validation-feedback">
  <ng-container [helpMessage]="control().helpText"></ng-container>
</div>
