<label [class]="settings.checkboxWrapperClasses">
  <input
    [id]="control().name"
    [name]="control().name"
    [class]="settings.checkboxInputClasses"
    type="checkbox"
    [attr.aria-checked]="formControl.value ? 'true' : 'false'"
    [formControlName]="control().name" />
  <span [class]="settings.checkboxLabelTextClasses">{{ control().label }}</span>
</label>

<div [class]="settings.validationFeedbackClasses">
  <ng-container
    ngDefaultControl
    validatorMessage
    [helpMessage]="control().helpText"
    [formControlName]="control().name" />
</div>
