<label
  [class]="settings.labelClasses"
  [for]="control().name">
  {{ control().label }}
</label>

<input
  [class]="settings.inputClasses"
  [id]="control().name"
  [name]="control().name"
  [type]="inputType()"
  [formControlName]="control().name"
  [placeholder]="inputPlaceholder()"
  autocomplete="off" />

<div [class]="settings.validationFeedbackClasses">
  <ng-container
    ngDefaultControl
    validatorMessage
    [helpMessage]="control().helpText"
    [formControlName]="control().name" />
</div>
