<label [attr.for]="control().name">{{ control().label }}</label>
<select
  [id]="control().name"
  [formControlName]="control().name">
  @for (option of options$ | async; track option.value) {
    <option
      [value]="option.value"
      [selected]="option.selected"
      [disabled]="option.disabled">
      {{ option.label }}
    </option>
  }
</select>

<ng-container
  ngDefaultControl
  validatorMessage
  [helpMessage]="control().helpText"
  [formControlName]="control().name"></ng-container>
